<ion-header [translucent]="true" class="ion-no-border">

  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/">Regresar</ion-back-button>
    </ion-buttons>

    <ion-title>{{lista.titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item>
      <ion-input 
      label="Nuevo item" 
      type="text" 
      labelPlacement="floating" 
      placeholder="Ingresa el nombre"
      [(ngModel)]="nombreTarea"
      (keyup.enter)="agregarTarea()"
      ></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header *ngIf="lista.items.length > 0">
      <ion-label>Tareas por hacer</ion-label>
    </ion-list-header>

    <ion-item-sliding *ngFor="let item of lista.items; let i = index" class="animated fadeInDown">

      <ion-item >
        <ion-checkbox 
        labelPlacement="end" 
        slot="start"
        [(ngModel)]="item.completado"
        (ionChange)="cambioCheckbox( item )"
        >{{item.descripcion}}</ion-checkbox>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="eliminarItem( i )">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>
</ion-content>
