

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */
/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
/* @import '@ionic/angular/css/palettes/dark.system.css'; */

:root {
	--ion-background-color: #f5f5f5;
	--ion-background-color-rgb: 245,245,245;

	--ion-text-color: #000;
	--ion-text-color-rgb: 0,0,0;

	--ion-text-color-step-50: #0c0c0c;
	--ion-text-color-step-100: #191919;
	--ion-text-color-step-150: #252525;
	--ion-text-color-step-200: #313131;
	--ion-text-color-step-250: #3d3d3d;
	--ion-text-color-step-300: #4a4a4a;
	--ion-text-color-step-350: #565656;
	--ion-text-color-step-400: #626262;
	--ion-text-color-step-450: #6e6e6e;
	--ion-text-color-step-500: #7b7b7b;
	--ion-text-color-step-550: #878787;
	--ion-text-color-step-600: #939393;
	--ion-text-color-step-650: #9f9f9f;
	--ion-text-color-step-700: #acacac;
	--ion-text-color-step-750: #b8b8b8;
	--ion-text-color-step-800: #c4c4c4;
	--ion-text-color-step-850: #d0d0d0;
	--ion-text-color-step-900: #dddddd;
	--ion-text-color-step-950: #e9e9e9;

	--ion-background-color-step-50: #e9e9e9;
	--ion-background-color-step-100: #dddddd;
	--ion-background-color-step-150: #d0d0d0;
	--ion-background-color-step-200: #c4c4c4;
	--ion-background-color-step-250: #b8b8b8;
	--ion-background-color-step-300: #acacac;
	--ion-background-color-step-350: #9f9f9f;
	--ion-background-color-step-400: #939393;
	--ion-background-color-step-450: #878787;
	--ion-background-color-step-500: #7b7b7b;
	--ion-background-color-step-550: #6e6e6e;
	--ion-background-color-step-600: #626262;
	--ion-background-color-step-650: #565656;
	--ion-background-color-step-700: #4a4a4a;
	--ion-background-color-step-750: #3d3d3d;
	--ion-background-color-step-800: #313131;
	--ion-background-color-step-850: #252525;
	--ion-background-color-step-900: #181818;
	--ion-background-color-step-950: #0c0c0c;
}

// Fuente: https://daneden.github.io/animate.css/

// Animaciones CSS
.animated {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
  }